<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-V7DTBFB;Initial Catalog=ERPDB;Integrated Security=False;User ID=sa;Password=mrsoft" providerName="System.Data.SqlClient" /
<add name="DefaultConnection" connectionString="Data Source=EBUKA-PC\NEXXTSERVER;Initial Catalog=ERPDB;Integrated Security=False;User ID=sa;Password=mrsoft" providerName="System.Data.SqlClient"/>>-->
    <add name="DefaultConnection" connectionString="Data Source=172.30.52.89;Initial Catalog=ENHANCE;Integrated Security=False;User ID=AppDev;Password=AppDev@ph3d#123" providerName="System.Data.SqlClient" />
    <!--
 <add name="DefaultConnection" connectionString="Data Source=nepamsonline.com;Initial Catalog=ENHANCE;Integrated Security=False;User ID=PHEDConnect;Password=RCDCConnect" providerName="System.Data.SqlClient" />
  
<add name="DefaultConnection" connectionString="Data Source=EBUKA-PC\NEXXTSERVER;Initial Catalog=ENHANCE;Integrated Security=False;User ID=sa;Password=mrsoft" providerName="System.Data.SqlClient"/>-->
    <!--<add name="OracleConnection" connectionString="Data Source=EBUKA-PC\NEXXTSERVER;Initial Catalog=ENHANCE;Integrated Security=False;User ID=sa;Password=mrsoft" providerName="System.Data.SqlClient"/>-->
    <!--
 <add name="OracleConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.30.52.83)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=PHEDConnect;Password=RCDCConnect;pooling=false;" />
<add name="OracleConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.20.3)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=ENSERV;Password=ENSERVL1v3M1n;pooling=false;" />-->
    <add name="DefaultConnection" connectionString="Data Source=172.30.52.89;Initial Catalog=ENHANCE;Integrated Security=False;User ID=AppDev;Password=AppDev@ph3d#123" providerName="System.Data.SqlClient" />
    <add name="OracleConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.30.52.83)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=ENSERV;Password=Dl3n4Nc3$;pooling=false;" />
    <add name="OracleConnectionUAT" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.25.32)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=enserv;Password=enservtraining;pooling=false;" />
    <add name="OracleConnectionTest" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.25.32)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=enserv;Password=enservtraining;pooling=false;" />
    <add name="DefaultConnectionUAT" connectionString="Data Source=nepamsonline.com;Initial Catalog=ENHANCEUAT;Integrated Security=False;User ID=PHEDConnect;Password=RCDCConnect" providerName="System.Data.SqlClient" />
    <add name="EnumsConnection" connectionString="Data Source=phedenums.com;Initial Catalog=rcdc_app;Integrated Security=False;User ID=rcdc_user;Password=3k3n3@321#com5" providerName="System.Data.SqlClient" />
    <add name="EnumerationConnection" connectionString="Data Source=phedenums.com;Initial Catalog=ENUMERATION;Integrated Security=False;User ID=rcdc_user;Password=3k3n3@321#com5" providerName="System.Data.SqlClient" />
    <add name="NOMSConnectionString" connectionString="Data Source=10.10.25.13;Initial Catalog=multidrive;Integrated Security=False;User ID=sa;Password=P@SSW0rd2018" providerName="System.Data.SqlClient" />
    <add name="OracleConnectionLOAD" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.25.3z2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=PHEDConnect;Password=RCDCConnect;pooling=false;" />
    <!--<add name="OracleConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.30.52.83)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=power)));User Id=PHEDConnect;Password=RCDCConnect;pooling=false;" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=PHEDGCIIT27966\NEXXTSERVER;Initial Catalog=NepamsReport;Integrated Security=False;User ID=sa;Password=ebuka@123" providerName="System.Data.SqlClient"/>-->
    <add name="MsSQL" connectionString="User ID=sa; Password=start777; Persist Security Info=true;Data Source=hasibul-pc;Initial Catalog=test_db" providerName="System.Data.SqlClient" />
    <add name="MySqlCon" connectionString="Server=localhost;Port=3306;Database=test;Uid=hasibul;Pwd=2363S3;" providerName="MySql.Data.MySqlClient" />
    <add name="AccessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=test.mdb;Jet OLEDB:Database Password=1123;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <!--Provide Default Data Provider for your Connection; You cna choose: Oracle or SqlServer or OleDb or Odbc or MySql-->
    <!--Provide Default Connection String Name which is added on your ConnectionStrings Section-->
    <add key="SMS_APIKEY" value="5dde90ca-2c96-4c38-aac0-7c94ac167f6e" />
    <add key="SMS_APIKEY" value="5dde90ca-2c96-4c38-aac0-7c94ac167f6e" />
    <add key="API" value="2E639809-58B0-49E2-99D7-38CB4DF2B5B20" />
    <add key="ThreePhaseAmount" value="89069.33" />
    <add key="XpressPayMerchantID" value="00024" />
    <add key="ARMESE" value="PH Alpha1,PH Alpha2," />
    <!--<add key="XpressPayMerchantID" value="300187" />-->
    <add key="SinglePhaseAmount" value="48263.38" />
    <!--<add key="XpressPayMerchantID" value="300187" /> 
    <add key="SinglePhaseAmount" value="48263.38" />-->
    <!--<add key="ThreePhaseAmount" value="89069.33" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultDataProvider" value="SqlServer" />
    <add key="DefaultConnection" value="MsSQL" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <customErrors mode="Off" />
    <!--<httpRuntime executionTimeout="3600"/>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Confirm" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>